<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="layouts/adminlayout.html">

<body>

  <div class="container-fluid" th:fragment="content">

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
            <table id="zero_config" class="table border table-striped table-bordered table-hover text-nowrap w-100">
              <thead class="bg-info text-white">
              <tr>
                <td>Report Date</td>
                <td>IVCS Name</td>
                <td>Action</td>
              </tr>
              </thead>
              <tbody  class="border border-info">
              <tr th:each="report : ${reports}">
                <td th:text="${#dates.format(report.created_date, 'dd/MM/yyyy hh:mm')}"></td>
                <td th:text="${report.name}"></td>
                <td> <a class="btn btn-primary" th:href="@{'/secure/ivcs-data-view/' + ${report.ms_id}}">View</a></td>
              </tr>
              </tbody>
            </table>
            <script>
        document.addEventListener("DOMContentLoaded", () => {
          $('#zero_config').DataTable();
        });
    </script>
          </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</body>

</html>