<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="layouts/adminlayout.html">

<body>

<div class="container-fluid" th:fragment="content">
  <div class="container">
    <div class="main-body">
      <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                <div class="mt-3">
                  <h4>IVCS Secretary Name</h4>
                  <p class="text-secondary mb-1">Secretary Occupation</p>
                  <p class="text-muted font-size-sm">Secretary Address</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-3">
            <div class="table-responsive">
              <table class="table table-bordered table-hover" id="tab_logic">
                <thead class="bg-primary text-white">
                <th class="text-center" colspan="3">
                  Last Updated Data
                </th>
                </thead>

                <thead class="bg-secondary text-white">
                <tr>
                  <th class="text-center">
                    Data ID
                  </th>
                  <th class="text-center">
                    Date
                  </th>
                  <th class="text-center">
                    Time
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr id='data-update'>
                  <td>
                    data_22mar23
                  </td>
                  <td>
                    22-03-23
                  </td>
                  <td>
                    14:30:00
                  </td>
                </tr>
                <tr id='data-update-01'>
                  <td>
                    data_23mar23
                  </td>
                  <td>
                    23-03-23
                  </td>
                  <td>
                    13:00:00
                  </td>
                </tr>
                <tr id='data-update-02'>
                  <td>
                    data_24mar23
                  </td>
                  <td>
                    24-03-23
                  </td>
                  <td>
                    10:00:00
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Full Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  Secretary Name
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  secretary@gmail.com
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Phone</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  0364 1234567890
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Mobile</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  +91 1234567890
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Address</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  IVCS Address
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-12">
                  <a class="btn btn-info " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
                </div>
              </div>
            </div>
          </div>

          <div class="row gutters-sm">
            <div class="col-md-6 col-lg-3 col-xlg-3">
              <div class="card card-hover">
                <div class="p-2 bg-primary text-center">
                  <h1 class="font-light text-white">2,064</h1>
                  <h6 class="text-white">Loan Disbursed</h6>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xlg-3">
              <div class="card card-hover">
                <div class="p-2 bg-danger text-center">
                  <h1 class="font-light text-white">964</h1>
                  <h6 class="text-white">Loan Repayment</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

</html>