<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="layouts/adminlayout.html">

<body>

  <div id="printarea" class="container-fluid" th:fragment="content">
   

    <div class="row">
      <div class="col-12">
        <div class="card ">
          <div class="card-body">
            <h3 class="card-title text-center">Rural Finance Format for collecting Village-wise data on IVCS</h3>
            <div class="form-body">
              <div class="form-group mb-3 mt-5 row">
                

                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-6">
                      <form>
                        <div class="form-group mb-3">
                          <label class="col-md-6 mb-3">Name of IVCSLTD : </label>
                          <span class="h5" th:text = "${name}"></span>                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div><!-- Name of ivcsltd END -->

              <div class="form-group mb-3 row">
                <label class="col-md-2 mb-3" for="ivcsltd-district">District :</label>
                <div class="col-md-4">
                  <form>
                    <div class="form-group mb-3">
                      <div class="h5" th:text = "${data.hhCoverage.villages.blocks.districts.name}"></div>
                    </div>
                  </form>
                </div>

                <label class="col-md-1 mb-3" for="ivcsltd-block">Block :</label>
                <div class="col-md-4">
                  <form>
                    <div class="form-group mb-3">
                      <div class="h5" th:text = "${data.hhCoverage.villages.blocks.name}"></div>
                    </div>
                  </form>
                </div>
              </div><!-- District & Block END -->

              <div class="form-group mb-3 row">
                <label class="col-md-2 mb-3" for="ivcsltd-district">Village :</label>
                <div class="col-md-4">
                  <form>
                    <div class="form-group mb-3">
                      <div class="h5" th:text = "${data.hhCoverage.villages.name}"></div>
                    </div>
                  </form>
                </div>

                <!-- <label class="col-md-1 mb-3" for="ivcsltd-block">Block :</label>
                <div class="col-md-4">
                  <form>
                    <div class="form-group mb-3">
                      <div class="h5" th:text = "${data.hhCoverage.villages.blocks.name}"></div>
                    </div>
                  </form>
                </div> -->
              </div><!-- District & Block END -->

            </div><!-- FORM BODY END  -->
          </div><!-- CARD BODY END  -->
        </div>
      </div>
    </div><!-- First ROW END  -->
    <!-- ============================================================== -->

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mt-4 mb-4">A. HH coverage:</h4>
            <div class="table-responsive">
              <table class="table table-bordered" id="tab_logic">
                <thead class="bg-primary text-white">
                <tr>
                  <th class="text-center">
                    SN
                  </th>
                 
                  <th class="text-center">
                    Whether Single, Main or Associate village
                  </th>
                  <th class="text-center">
                    Distance from Main Village (in kms.)
                  </th>
                  <th class="text-center">
                    No. of HHs in the village
                  </th>
                  <th class="text-center">
                    No. of HHs covered by IVCS
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr id='addr0'>
                  <td>1</td>
                  
                  <td>
                    <!-- <span name='smav[]' placeholder='Single, Main or Associate' ></span> -->
                    <div class="h5" th:text = "${data.hhCoverage.typeOfAssociatedVillage}"></div>

                  </td>
                  <td>
                    <div class="h5" th:text = "${data.hhCoverage.distanceFromVillage}"></div>
                  </td>
                  <td>
                    <div class="h5" th:text = "${data.hhCoverage.noOfHH}"></div>
                  </td>
                  <td>
                    <div class="h5" th:text = "${data.hhCoverage.noOfHHCovered}"></div>
                  </td>
                </tr>
                <tr id='addr1'></tr>
                </tbody>
              </table>
            </div>


            <h4 class="card-title mt-5 mb-4">B. Representation in the Managing Committee (MC):</h4>
            <div class="table-responsive">
              <table class="table table-bordered" id="tab_logic">
                <thead class="bg-primary text-white">
                <tr>
                  <th class="text-center">
                    SN
                  </th>
                  
                  <th class="text-center">
                    Male
                  </th>
                  <th class="text-center">
                    Female
                  </th>
                  <th class="text-center">
                    Total
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr id='addr0'>
                  <td>1</td>
                  
                  <td>
                    <div class="h5" th:text = "${data.mcRepresentation.noOfMale}"></div>
                  </td>
                  <!-- <td>
                    <div class="h5" th:text = "${data.mcRepresentation.noOfMale}"></div>
                  </td> -->
                  <td>
                    <div class="h5" th:text = "${data.mcRepresentation.noOfFemale}"></div>
                  </td>
                  <td>
                    <div class="h5" th:text = "${data.mcRepresentation.total}"></div>
                  </td>
                </tr>
                <tr id='addr1'></tr>
                </tbody>
              </table>
            </div>


            <h4 class="card-title mt-5 mb-4">C. Shareholding in the IVCS</h4>
            <div class="table-responsive">
              <table class="table table-bordered" id="tab_logic">
                <thead class="bg-primary text-white">
                <tr>
                  <th class="text-center">
                    SN
                  </th>
                 
                  <th class="text-center">
                    Male
                  </th>
                  <th class="text-center">
                    Female
                  </th>
                  <th class="text-center">
                    SHGs/ Other CBOs
                  </th>
                  <th class="text-center">
                    Total
                  </th>
                  <th class="text-center">
                    No. of Shares subscribed
                  </th>
                  <th class="text-center">
                    Total Amt. of Share Capital mobilised
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr id='addr0'>
                  <td>1</td>
                  
                  <td>
                    <div class="h5" th:text = "${data.shareHoldingInIvcs.male}"></div>
                  </td>
                  <td>
                    <div class="h5" th:text = "${data.shareHoldingInIvcs.female}"></div>
                  </td>
                  <td>
                    <div class="h5" th:text = "${data.shareHoldingInIvcs.SHG}"></div>
                  </td>
                  <td>
                    <div class="h5" th:text = "${data.shareHoldingInIvcs.total}"></div>
                  </td>
                  <td>
                    <div class="h5" th:text = "${data.shareHoldingInIvcs.noOfSharesSubscribed}"></div>
                  </td>
                  <td>
                    <div class="h5" th:text = "${data.shareHoldingInIvcs.totalAmountMobilized}"></div>
                  </td>
                </tr>
                <tr id='addr1'></tr>
                </tbody>
              </table>
            </div>


            <h4 class="card-title mt-5 mb-2">D. Deposit mobilisation in the IVCS</h4>
            <h4 class="card-title mb-4">D.1. Savings A/c</h4>
            <div class="table-responsive">
              <table class="table table-bordered  " id="tab_logic">
                <thead class="bg-primary text-white">
                <tr>
                  <th class="text-center">
                    SN
                  </th>
                  
                  <th class="text-center">
                    Male
                  </th>
                  <th class="text-center">
                    Female
                  </th>
                  <th class="text-center">
                    SHGs/ Other CBOs
                  </th>
                  <th class="text-center">
                    Joint A/c
                  </th>
                  <th class="text-center">
                    Total No. of Savings A/c
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr id='addr0'>
                  <td>1</td>
                  
                  <td>
                    <div class="h5" th:text = "${data.savingAccount.noOfMaleSA}"></div>
                  </td>
                  <td>
                    <div class="h5" th:text = "${data.savingAccount.noOfFemaleSA}"></div>
                  </td>
                  <td>
                    <div class="h5" th:text = "${data.savingAccount.noOfSHGSA}"></div>
                  </td>
                  <td>
                    <div class="h5" th:text = "${data.savingAccount.noOfJointSavingAcc}"></div>
                  </td>
                  <td>
                    <div class="h5" th:text = "${data.savingAccount.totalNoOfSAAcc}"></div>
                  </td>
                </tr>
                <tr id='addr1'></tr>
                </tbody>
              </table>
            </div>

            <h4 class="card-title mt-5 mb-4">D.1.1. Savings A/c – Amount of Deposits & withdrawals</h4>
            <div class="table-responsive">
              <table class="table table-bordered  " id="tab_logic">
                <thead class="bg-primary text-white">
                <tr>
                  <th class="text-center">
                    SN
                  </th>
                 
                  <th class="text-center">
                    Total Amt. of Savings mobilised
                  </th>
                  <th class="text-center">
                    Total Amt. withdrawn
                  </th>
                  <th class="text-center">
                    Balance in Savings A/c
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr id='addr0'>
                  <td>1</td>
                  
                  <td>
                    <div class="h5" th:text = "${data.savingAccount.totalAmountOfSavingMobilized}"></div>
                  </td>
                  <td>
                    <div class="h5" th:text = "${data.savingAccount.totalAmountWithdrawn}"></div>
                  </td>
                  <td>
                    <div class="h5" th:text = "${data.savingAccount.balanceInSavingAccs}"></div>
                  </td>
                </tr>
                <tr id='addr1'></tr>
                </tbody>
              </table>
            </div>


            <h4 class="card-title mt-5 mb-4">D.2. Fixed Deposits (FD) A/c</h4>
            <div class="table-responsive">
              <table class="table table-bordered  " id="tab_logic">
                <thead class="bg-primary text-white">
                <tr>
                  <th class="text-center">
                    SN
                  </th>
                  
                  <th class="text-center">
                    Male
                  </th>
                  <th class="text-center">
                    Female
                  </th>
                  <th class="text-center">
                    SHGs/ Other CBOs
                  </th>
                  <th class="text-center">
                    Joint A/c
                  </th>
                  <th class="text-center">
                    Total No. of FD A/c
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr id='addr0'>
                  <td>1</td>
                  
                  <td>
                    <div class="h5" th:text = "${data.fixedAccount.noOfFemaleFD}"></div>
                  </td>
                  <td>
                    <div class="h5" th:text = "${data.fixedAccount.noOfFemaleFD}"></div>
                  </td>
                  <td>
                    <div class="h5" th:text = "${data.fixedAccount.noOfSHGFD}"></div>
                  </td>
                  <td>
                    <div class="h5" th:text = "${data.fixedAccount.noOfJointAccFD}"></div>
                  </td>
                  <td>
                    <div class="h5" th:text = "${data.fixedAccount.totalNoOfFDAcc}"></div>
                  </td>
                </tr>
                <tr id='addr1'></tr>
                </tbody>
              </table>
            </div>


            <h4 class="card-title mt-5 mb-4">D.2.1. Fixed Deposits A/c – Amount of Deposits & withdrawals</h4>
            <div class="table-responsive">
              <table class="table table-bordered  " id="tab_logic">
                <thead class="bg-primary text-white">
                <tr>
                  <th class="text-center">
                    SN
                  </th>
                 
                  <th class="text-center">
                    Total Amt. of FD mobilised
                  </th>
                  <th class="text-center">
                    Total Amt. of FD matured & withdrawn
                  </th>
                  <th class="text-center">
                    Balance in FD A/c
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr id='addr0'>
                  <td>1</td>
   
                  <td>
                    <div class="h5" th:text = "${data.fixedAccount.totalAmountOfFDMobilized}"></div>
                  </td>
                  <td>
                    <div class="h5" th:text = "${data.fixedAccount.totalAmountFDMatured}"></div>
                  </td>
                  <td>
                    <div class="h5" th:text = "${data.fixedAccount.balanceInFDAccs}"></div>
                  </td>
                </tr>
                <tr id='addr1'></tr>
                </tbody>
              </table>
            </div>


            <h4 class="card-title mt-5 mb-4">D.3. Recurring Deposits (RD) A/c</h4>
            <div class="table-responsive">
              <table class="table table-bordered  " id="tab_logic">
                <thead class="bg-primary text-white">
                <tr>
                  <th class="text-center">
                    SN
                  </th>
                  
                  <th class="text-center">
                    Male
                  </th>
                  <th class="text-center">
                    Female
                  </th>
                  <th class="text-center">
                    SHGs/ Other CBOs
                  </th>
                  <th class="text-center">
                    Joint A/c
                  </th>
                  <th class="text-center">
                    Total No. of RD A/c
                  </th>
                  <th class="text-center">
                    Total Amt. of RD mobilised
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr id='addr0'>
                  <td>1</td>
                  
                  <td>
                    <div class="h5" th:text = "${data.recurringAccount.noOfMaleRA}"></div>
                  </td>
                  <td>
                    <div class="h5" th:text = "${data.recurringAccount.noOfFemaleRA}"></div>
                  </td>
                  <td>
                    <div class="h5" th:text = "${data.recurringAccount.noOfSHGRA}"></div>
                  </td>
                  <td>
                    <div class="h5" th:text = "${data.recurringAccount.noOfJointRecurringAcc}"></div>
                  </td>
                  <td>
                    <div class="h5" th:text = "${data.recurringAccount.totalNoOfRDAcc}"></div>
                  </td>
 
                </tr>
                <tr id='addr1'></tr>
                </tbody>
              </table>
            </div>


            <h4 class="card-title mt-5 mb-4">3.1. Recurring Deposits A/c – Amount of Deposits & withdrawals</h4>
            <div class="table-responsive">
              <table class="table table-bordered  " id="tab_logic">
                <thead class="bg-primary text-white">
                <tr>
                  <th class="text-center">
                    SN
                  </th>
                 
                  <th class="text-center">
                    Total Amt. of RD mobilised
                  </th>
                  <th class="text-center">
                    Total Amt. of RD matured & withdrawn
                  </th>
                  <th class="text-center">
                    Balance in RD A/c
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr id='addr0'>
                  <td>1</td>
                  
                  <td>
                    <div class="h5" th:text = "${data.recurringAccount.totalAmountOfRDMobilized}"></div>
                  </td>
                  <td>
                    <div class="h5" th:text = "${data.recurringAccount.totalRDWithdrawn}"></div>
                  </td>
                  <td>
                    <div class="h5" th:text = "${data.recurringAccount.balanceInRecurringAccs}"></div>
                  </td>
                </tr>
                <tr id='addr1'></tr>
                </tbody>
              </table>
            </div>


            <h4 class="card-title mt-5 mb-2">E. Disbursement of Loans by the IVCS</h4>
            <h4 class="card-title mb-4">E.1. Loan A/c in the IVCS</h4>
            <div class="table-responsive">
              <table class="table table-bordered  " id="tab_logic">
                <thead class="bg-primary text-white">
                <tr>
                  <th class="text-center">
                    SN
                  </th>
                  
                  <th class="text-center">
                    Male
                  </th>
                  <th class="text-center">
                    Female
                  </th>
                  <th class="text-center">
                    SHGs/ Other CBOs
                  </th>
                  <th class="text-center">
                    Total No. of Loans A/c
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr id='addr0'>
                  <td>1</td>
  
                  <td>
                    <div class="h5" th:text = "${data.loanDisbursement.noOfLoansByMale}"></div>
                  </td>
                  <td>
                    <div class="h5" th:text = "${data.loanDisbursement.noOfLoansByFemale}"></div>
                  </td>
                  <td>
                    <div class="h5" th:text = "${data.loanDisbursement.noOfLoansBySHGs}"></div>
                  </td>
                  <td>
                    <div class="h5" th:text = "${data.loanDisbursement.totalNoOfLoanAcc}"></div>
                  </td>
                </tr>
                <tr id='addr1'></tr>
                </tbody>
              </table>
            </div>


            <h4 class="card-title mb-4">E.1.1  Loan A/c – Amount disbursed & repayment</h4>
            <div class="table-responsive">
              <table class="table table-bordered  " id="tab_logic">
                <thead class="bg-primary text-white">
                <tr>
                  <th class="text-center">
                    SN
                  </th>
                  
                  <th class="text-center">
                    Total Amt. of Loan disbursed
                  </th>
                  <th class="text-center">
                    Total Amt. due as on date (Principal + interest)
                  </th>
                  <th class="text-center">
                    Total Amt. repaid
                  </th>
                  <th class="text-center">
                    Total Amt. outstanding
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr id='addr0'>
                  <td>1</td>
                 
                  <td>
                    <div class="h5" th:text = "${data.loanDisbursement.totalNoOfLoanDisbursed}"></div>
                  </td>
                  <td>
                    <div class="h5" th:text = "${data.loanDisbursement.totalAmountDue}"></div>
                  </td>
                  <td>
                    <div class="h5" th:text = "${data.loanDisbursement.totalAmountRepaid}"></div>
                  </td>
                  <td>
                    <div class="h5" th:text = "${data.loanDisbursement.totalOutstanding}"></div>
                  </td>
                </tr>
                <tr id='addr1'></tr>
                </tbody>
              </table>
            </div>
          </div><!-- CARD BODY  -->
        </div><!-- CARD END  -->
      </div>
    </div>
  </div>

</body>

</html>